body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
}

a, div {
    text-decoration: none;
    color: inherit;
}

.container img {
    border-radius: 25%;
    border: #3882F6 solid 2px;
}

.top {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    padding-bottom: 30px;

}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    font-size: 16px;
}

.fotter {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    flex: 0;
    padding: 8px;
}

.hero-container {
    flex: 1 1 0;
    display: flex;
    justify-content: space-around;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 600px;
}

#hero-title {
    font-size: 48px;
    font-weight:bolder;
}

#hero-text {
    font-size: 18px;
    color: #E5E7Eb;
}


#logo {
    font-size: 24px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color:#E5E7Eb ;
    justify-content: center;
    color: #1F2937;
}

.quote-text {
    font-size: 36px;
}

.quote-font {
    margin-left: auto;
}

.hero, .info-section, .quote, .action {
    flex: 1;
    padding: 2em 10em;
}

.top {
    padding-top: 0%;
}

.info-section {
    text-align: center;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.container {
    display: flex;
    justify-content: space-around;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-container {
    padding: 15px;
    width: 400px;
    height: 75px;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10%;
}

button {
    background-color: #3882F6;
    border-radius: 10%;
    border: none;
}

.action-container button {
    border: #F9FAF8 solid 2px;
    height: 2em;
}